<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
<link rel="stylesheet" type="text/css" href="stylesheets/ccstyle.css">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Mesosphere DC/OS AppStudio</title>

</head>
<body bgcolor="#FFFFFF">
	<div id="alldiv" class="dashdiv">
		<iframe class="dashframe" src="http://<%= publicnode %>/service/kibana/app/kibana#/dashboard/c8649560-56d4-11e7-97b9-216f79a28c58?embed=true&_g=(refreshInterval:('$$hashKey':'object:375',display:'10+seconds',pause:!f,section:1,value:10000),time:(from:now-15m,mode:relative,to:now))&_a=(filters:!(),options:(darkTheme:!t),panels:!((col:1,id:'6c9bba10-56d4-11e7-97b9-216f79a28c58',panelIndex:1,row:1,size_x:12,size_y:4,type:visualization),(col:1,id:'76d62d20-56d5-11e7-97b9-216f79a28c58',panelIndex:2,row:5,size_x:6,size_y:4,type:visualization),(col:7,id:'492f5460-56d9-11e7-acb2-edc76e8f7537',panelIndex:3,row:5,size_x:6,size_y:4,type:visualization)),query:(query_string:(analyze_wildcard:!t,query:'*')),timeRestore:!t,title:'Fraud+Detection',uiState:(P-1:(mapCenter:!(22.59372606392931,-0.17578125),mapZoom:2),P-2:(vis:(params:(sort:(columnIndex:!n,direction:!n)))),P-3:(vis:(legendOpen:!f))),viewMode:view)" height="768" width="1024"></iframe>
	</div>
</body>
</html>
